<footer class="footer footer-center p-4 bg-base-200 mt-8 bg-primary text-primary-content">
<%# <footer class="footer footer-center p-4 bg-base-200 mt-8 rounded-box"> %>
  <div>
    <p class="flex gap-4 flex-col md:flex-row md:gap-8 md:justify-center text-sm">
      <span>© <%= Time.now.year %> Bahria Foundation College NYZ</span>
      <span>Developed by <%= link_to "Ahmed Hannan", "https://ahmed.byteforgedev.com", target: "_blank", rel: "noopener noreferrer", class: "font-semibold decoration-dotted underline decoration-2 underline-offset-3 ml-1" %></span>
    </p>
  </div>
</footer>
